<!DOCTYPE html>
<html>
  <head>
    <title>Artsy</title>
    <meta property="og:title" content="Artsy" />
     <meta property='og:image' content="<%= image_url('artsy-screenshot.png') %>"/>
     <meta property="og:description"
       content="A pixel-perfect full-stack clone of Etsy's e-commerce site"
     />
     <meta property="og:url"
       content="https://artsy-store.herokuapp.com/"
     />

    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cormorant+Garamond' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAPjYkDq0-iiCd6W5-qCw46J-r0EW39L1U"%>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('artsy-icon.png') %>
  </head>
  <body>

    <%= yield %>

  </body>
</html>