<!DOCTYPE html>
<html>
  <head>
    <title>Artsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      <% if signed_in? %>
        <nav>
          <a class='button' href="<%= users_url %>">Home</a>
          
          <div>
            <p>Logged in as: <%= current_user.username %></p>
          <form action=<%= session_url %> method='post'>
            <input
              type="hidden"
              name="_method"
              value="delete">
            <input
              type="hidden"
              name="authenticity_token"
              value="<%= form_authenticity_token %>"/>
            <input 
              type="submit" value="Sign Out"/>
          </form>
          </div>
        </nav>
      <% end %>


    <%= yield %>
  </body>
      <% if flash[:errors] %>
        <p><%= flash[:errors].join(", ") %></p>
      <% end %>
</html>
